<form action="/user/update/<%= user.id %>" method="POST">
<h1>You are editing the profile <%= user.name %> </h1>
    
    <input value="<%= user.name %>" name="name" type="text" />
    <input value="<%= user.username %>" name="username" type="email" />
    <input type="submit" value="Proceed" />
    <input type="hidden" name="_csrf" value="<%= _csrf %>" />
    

</form>